<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <style>
      .demo {
        width: 100px;
        height: 100px;
        background-color: grey;
        display: inline-block;
        margin: 10px;
      }
      .red {
        background-color: red;
      }
      .green {
        background-color: green;
      }
      .blue {
        background-color: blue;
      }
    </style>
    <title>Learn Vue</title>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="demo" @click="applyRed = !applyRed" :class="divClass"></div>
      <div
        class="demo"
        v-on:click="applyGreen = !applyGreen"
        v-bind:class="{green: applyGreen}"
      ></div>
      <div class="demo" :style="myStyle"></div>
      <hr />
      <input v-model="colour" type="text" />
      <input v-model="width" type="text" />
    </div>

    <script>
      new Vue({
        el: '#app',
        data: {
          applyRed: false,
          applyGreen: true,
          colour: 'green',
          width: 100
        },
        methods: {},
        computed: {
          divClass() {
            return {
              red: this.applyRed,
              blue: !this.applyRed
            };
          },
          myStyle() {
            return {
              backgroundColor: this.colour,
              width: this.width + 'px'
            };
          }
        }
      });
    </script>
  </body>
</html>
